{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container login">
        {% if error %}
        <div class="alert alert-danger" role="alert" style="font-size: 14px; font-weight:700">
        <strong>{{error}}</strong>
        </div>
        {% endif %}
        
        <form action="{% url 'accounts:login' %}" method="post" class="loginForm">
            {% csrf_token %}
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="email">Username</label>
                <input type="text" name="username" id="username" class="form-control" autofocus required/>
            
            </div>
        
            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="password">Password</label>
                <div class="password-div">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password" required/>
                    <span class="icon" onclick="togglePassword(event)"><i class="far fa-eye"></i></span>
                </div>
            </div>
        
            <!-- Submit button -->
            <div class="butn">
                <button type="submit" class=" w-25 logins">Sign in</button>
            </div>
        
        </form>
    </div>
{% endblock content %}
    

{% block scripts %}
<script>
    function togglePassword(event) {
      event.preventDefault();
      const passwordInput = $('#password');
      if (passwordInput.attr('type') === 'password') {
          passwordInput.attr('type', 'text');
          $(".icon").html("<i class='far fa-eye-slash'></i>")
          passwordToggle.text('Hide');
      } else {
        $(".icon").html("<i class='far fa-eye'></i>")
          passwordInput.attr('type', 'password');
      }
    }
  </script>
{% endblock scripts %}
