{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container login">
        {% include "accounts/htmx/login_form.html" %}
    </div>
{% endblock content %}
    

{% block scripts %}
<script>
    function togglePassword(event) {
      event.preventDefault();
      const passwordInput = $('#password');
      if (passwordInput.attr('type') === 'password') {
          passwordInput.attr('type', 'text');
          $(".icon").html("<i class='far fa-eye-slash'></i>")
          passwordToggle.text('Hide');
      } else {
        $(".icon").html("<i class='far fa-eye'></i>")
          passwordInput.attr('type', 'password');
      }
    }
  </script>
{% endblock scripts %}
