    {% for user in users %}
    <div id="user_{{user.id}}"
            {% if forloop.last and users.has_next %} 
            hx-get="?page={{users.next_page_number}}" 
            hx-target="#users_div" 
            hx-swap="beforeend scroll:bottom" 
            hx-trigger="intersect once"
            hx-include="#search"
            hx-indicator="#loader"
            {% endif %}
    >
        <li style="cursor:pointer !important;"
            >{{user.name}} 
        </li>
    </div>
    {% endfor %}
    <div class="loader" id="loader"></div>
